html
  background-color color-background
  font-size 16px

body
  font-size 62.5%
  text-align center

h1
h2
h3
h4
h5
h6
  color color-header-copy
  // font-family 'Roboto', sans-serif

p
  color color-body-copy
  // font-family 'Roboto', sans-serif
  font-size 1.6em
