@svg-load v-decore url('src/images/v-decore.svg')

.slider-wrapper
  
  // outline 1px solid red
  display inline-block
  width 100%
  max-width 130em
  overflow hidden
  margin-bottom 4em
  
  & > .slides
    // outline 1px solid purple
    position relative
    // height 0
    // padding-top 40%
    height 40vw
    max-height 52em
    min-height 40em
    +on(mobile)
      min-height 32em
    box-sizing border-box

    & > .slide
      width 100%
      position absolute
      margin auto
      top 0
      bottom 0
      left 0
      right 0
      
      display inline-flex
      flex-flow column nowrap
      justify-content space-around
      align-items flex-start
      
      & .content > span
        display block
        font-weight 300
        line-height 1

      // .slide
      ^[-1..-1] 
        // outline 1px solid green
        font-family 'Roboto'
        
        & .content
          display inline-block
          // outline 1px solid gold
          text-align center
          background-color alpha(#fff, 0.8)
          padding 3em 4em 0
          +on(mobile)
            padding 1.6em 2em 0
          +on(mobile)
            position absolute
          
          &:before
            content: ''
            display block
            width 100%
            height 0
            padding-top 6.6em
            +on(mobile)
              padding-top 4.0em
            background svg-inline(v-decore) no-repeat 50% 0% / auto 60%
        
        &.villanova-difference
          background url('/images/slider-bg-vu-difference.jpg') no-repeat 50% 0% / cover
          +on(mobile)
            background-position 64% 0%

          & .content
            margin-left 20%
            +on(mobile)
              margin-left 0
            +on(mobile)
              top 2em
            // background-color transparent
            & > span
              color color-primary
              &:nth-of-type(1)
                text-transform uppercase
                font-weight 200
                +on(mobile)
                  font-weight 300
                font-size 2.8em
                +on(mobile)
                  font-size 1.5em
              &:nth-of-type(2)
                font-size 6em
                +on(mobile)
                  font-size 3.6em
              &:nth-of-type(3)
                font-size 6em
                +on(mobile)
                  font-size 3.6em
          
        &.our-history
          background url('/images/slider-bg-our-history.jpg') no-repeat 50% 82% / cover

          & .content
            margin-left 50%
            +on(mobile)
              margin-left 0
            +on(mobile)
              top 2em
              right 0
            & > span
              &:nth-of-type(1)
                text-transform uppercase
                font-size 2.8em
                +on(mobile)
                  font-size 1.68em
                line-height 1.0
              &:nth-of-type(2)
                font-weight 300
                font-size 4.8em
                +on(mobile)
                  font-size 3.4em
                line-height 1.2
                text-transform capitalize

        &.lifelong-learning
          background url('/images/slider-bg-lifelong-learning.jpg') no-repeat 50% 15% / cover

          & .content
            margin-left 12%
            +on(mobile)
              margin-left 0
            +on(mobile)
              top 2em
              left 0
            background-color transparent
            +on(mobile)
              background-color alpha(#fff, 0.4)
            & > span
              &:nth-of-type(1)
                font-size 5.0em
                +on(mobile)
                  font-size 3em
                line-height 1.0
              &:nth-of-type(2)
                text-transform uppercase
                font-weight 300
                font-size 6.6em
                +on(mobile)
                  font-size 4em
                line-height 1.2
              &:nth-of-type(3)
                text-transform uppercase
                font-size 2.8em
                +on(mobile)
                  font-size 1.55em
    
      & .button
        @extend .cta-button
        background-color color-accent
        border-color color-accent
        transform translateY(50%)

  & > .controls
    height 5em
    border-bottom 1px solid color-dark-grey
