.program-finder
  display flex
  flex-flow row wrap
  +on(mobile)
    flex-flow column nowrap
  justify-content space-between
  box-sizing border-box
  width 96vw
  +on(mobile)
    width 100vw
  max-width 80em
  background color-light-grey
  // display inline-block
  padding 2em 1.6em
  margin -4em auto 6em
  +on(mobile)
    margin 0 0 4em 0
  box-shadow 0 1.3em 1.6em -0.8em alpha(#000, 0.3)
  +on(mobile)
    box-shadow none

  h2
    flex 1 0 100%
    +on(mobile)
      flex 0 0 auto
    font-family 'Roboto'
    font-size 2.6em
    font-weight 400
    text-transform uppercase
    margin-bottom 0.5em
  
  & > select
    flex 1 0 calc((100%/3) - 0.5rem)
    +on(mobile)
      flex 0 0 auto
    margin 0.25rem  

  button
    @extends .cta-button
    min-width min-content
    background color-accent
    border-color color-accent
    flex 1 0 calc((100%/3) - 0.5rem)
    +on(mobile)
      flex 0 0 auto
    margin 0.25rem
