.utility-nav
  display flex
  justify-content flex-end
  flex-flow row wrap
  align-content space-between
  // min-height 4em
  min-width 21em

  +on(mobile)
    flex-flow column wrap
    align-content flex-end
    justify-content flex-start
    min-width initial
    & > .register
    & > .login
    & > .chat
    & > .tel
      margin 0
      padding 0
      border 0
      flex 0 0 auto
      
    .non-mobile
    & > .login
    & > .chat
      display none
    
    .register
      text-transform uppercase
      
  & > a
    text-decoration none
    text-align right
    font-size 1.2em
    color color-primary
    font-family 'Roboto'
    display inline-block
    white-space nowrap
  
  & > .register
  & > .chat
    border-right 1px solid
    margin-right 0.6em
    padding-right 0.6em

  & > .tel:before
    content: 'Call Now '
    +on(mobile)
      content: ''
