.cta-button
  text-decoration none
  font-family 'Roboto'
  font-weight 700
  background color-light-grey
  font-size 1.4em
  box-sizing border-box
  text-transform uppercase
  padding 0.8em 1.2em
  border-radius 0
  border 1px solid color-border-grey
  color color-primary
  display inline-block
  margin 0
