/**
 * School Logo
 */
@svg-load logo url('src/images/logo.svg')
  .st0
    fill color-background
  .st1
    fill color-primary

.logo
  // outline 1px solid red
  padding 0 0
  width 20em
  height (@width / 5.5)
  background svg-inline(logo) no-repeat 0% 50% / auto 100%
  +on(mobile)
    // min-width 50%
    // min-width 60vw
    width 50vw
    height (@width / 5.5)
