select.styled
  outline none
  appearance none
  border-radius 0
  border 1px solid color-border-grey
  font-size 1.6em
  padding 0.5em 2em 0.5em 0.5em
  // margin 0.5em 0.5em
  
  @svg-load down-arrow url('src/images/action_arrow_down.svg')
  background color-background svg-inline(down-arrow) no-repeat calc(100% - 0.25em) 50% / 1em auto
    
    
  &:focus
  &:active
    outline none
