extends /layouts/shell

block prepend html-head
  -
    url = "http://www.villanovau.com/",
    meta = {
      title: "Villanova University | Degree and Certificate Programs Online",
      description: "Earn your Undergraduate Degree, Graduate Degree, and Master Certificate 100% online from US News-Ranked Villanova University. Enroll in a Program today!",
      keywords: "This, that, the other",
      og: {
        locale: "en_US",
        url: "http://www.villanovau.com/",
        site_name: "Villanova University",
        title: "I’ve taken the first step in my resolution to go back to school in 2015!",
        description: "Earn your Undergraduate Degree, Graduate Degree, and Master Certificate 100% online from US News-Ranked Villanova University. Enroll in a Program today!",
        image: "http://www.villanovau.com/media/1624642/vu-logo.png",
        type: "website"
      },
      article: {
        author: "https://www.facebook.com/VillanovaU"
      },
      twitter: {
        site: "@villanovau",
        creator: "@villanovau",
        card: "summary",
        title: "Villanova University | Degree and Certificate Programs Online",
        description: "Earn your Undergraduate Degree, Graduate Degree, and Master Certificate 100% online from US News-Ranked Villanova University. Enroll in a Program today!"
      }
    }

    css = [
      '/css/main.css',
    ]

block content
  section.vu-difference-hero-section
    h1 #[span.non-mobile Experience the ]Villanova#[span.on-mobile  University]#[span.non-mobile  Difference]
    p #[span.non-mobile Dedicated to helping you succeed ]#[span.on-mobile online]

  form.program-finder
    h2 Find Your Program
    select.styled.program-level
      option Select a program level
    select.styled.categories
      option All Categories
    button Go!

  section.special-audiences-wrapper
    h2.heading #[span Villanova&rsquo;s Flexible Online Education ]#[span Also Serves These Special Audiences]
    a.special-audiences.corporate
      span.icon
      span.label Corporate#[span.non-mobile  Education]
      span.cta-label Learn More
    a.special-audiences.military
      span.icon
      span.label Military#[span.non-mobile  Benefits]
      span.cta-label Learn More
    a.special-audiences.government
      span.icon
      span.label Government#[span.non-mobile  Training]
      span.cta-label Learn More

  section.slider-wrapper
    .slides
      .slide.villanova-difference
        .content #[span What is the] #[span Villanova] #[span Difference]
          .button Learn More
      .slide.our-history
        .content #[span Your future begins] #[span with our history]
          .button Learn More
      .slide.lifelong-learning
        .content #[span Lifelong] #[span learning] #[span with an emphasis on you]
          .button Learn More
    .controls
  section.new-and-popular-courses
    input#in-demand-agile.nav-toggle(type="radio", name="in-demand", checked="checked")
    input#in-demand-six-sigma.nav-toggle(type="radio", name="in-demand")
    input#in-demand-project-management.nav-toggle(type="radio", name="in-demand")
    .heading
      h2 In-Demand Online Programs
    .screen-display
    .tabbed-contents
      .tabbed-nav
        label.nav-item.new(for="in-demand-agile")
        label.nav-item(for="in-demand-six-sigma")
        label.nav-item(for="in-demand-project-management")
      .tab.agile
        h3.new Agile Management
        p This emerging process improvement approach is enabling organizations and IT departments around the world to see quicker wins and create higher quality deliverables &ndash; enhancements which can ultimately improve efficiencies and bottom line results. Led by top industry experts, the Master Certificates in Agile management are the only comprehensive Agile programs offered 100% onine by a top-tier university.
        a.cta-label(href="#") Learn More
      .tab.six-sigma
        h3 Six Sigma
        p Earn industry-recognized Six Sigma certifications through Villanova University. Green Belt, Lean Six Sigma and Lean Six Sigma Black Belt courses are available and taught by Villanova&rsquo;s superior only faculty. Enjoy instant recognition, credibility and respect for your new credentials, offered 100% onilne. With specialized programs &ndash; including healthcare, financial services and information technology &ndash; you can choose the Six Sigma Master Certificate that&rsquo;s right for you.
        a.cta-label(href="#") Learn More
      .tab.project-management
        h3 Project Management
        p Widely recognized as a global leader in Project management education, Villanova University is a PMI#[sup &reg;] Registered Education Provider. Learn from highly-credentialed and industry-experienced faculty as you prepare for PMP#[sup &reg;] or CAPM#[sup &reg;] certification. Discover how you can lead projects more effectively while demonstrating a commitment to your profession and showing potential employers you&rsquo;re an expert in your field.
        a.cta-label(href="#") Learn More
