
body > section
  text-align left

.vu-difference-hero-section
  text-align center
  background url('/images/church-front.jpg') no-repeat 50% 26% / cover
  display block
  width 100%
  max-width 130em
  margin 0 auto
  padding 3em 0 0 0
  +on(mobile)
    padding 2em 0 0 0
  height 43vw
  +on(mobile)
    height 90vw
  min-height 40em
  +on(mobile)
    min-height 0
  
  .non-mobile
    +on(mobile)
      display none
  .on-mobile
    display none
    +on(mobile)
      display initial
  
  h1
    font-family 'Roboto'
    font-weight 200
    +on(mobile)
      font-weight 300
    // font-size 5em
    font-size calc(2.8vw + 2em)
    +on(mobile)
      font-size 9vw
    color color-background
        
    & + p
      font-family 'Roboto'
      font-weight 200
      +on(mobile)
        font-weight 300
      // font-size 2em
      font-size calc(1.16vw + 1em)
      +on(mobile)
        font-size 5vw
      letter-spacing 0.05em
      text-transform uppercase
      color color-background
    