footer.global-footer
  .footer-nav
    a.link.tel.toll-free(href="tel:8553001471") Call Toll Free: 855-300-1473
    a.link.tel.international(href="+18136124296") International: +1 813-612-4296
    a.link.resources(href="/resources/") Resources
    a.link.news(href="/villanova-newsroom") News
    a.link.sitemap(href="http://www.villanovau.com/sitemap/") Sitemap
    a.link.terms-of-use(href="http://www.villanovau.com/terms-of-use/") Terms of Use
    a.link.privacy-policy(href="http://www.villanovau.com/privacy-policy/") Privacy Policy
    a.link.student-disclosures(href="http://www.villanovau.com/student-disclosures/") Student Disclosures
  .copy-notice
    p Made Available by University Alliance Online#[sup &reg;], a division of Bisk Education, Inc. #[sup &copy;]2016 Bisk Education. Company, products and service names may be trademarks of their respective owners.
  .ua-logo