header.global-header
  .logo
  .utility-nav
    a.register(href="#") Register#[span.non-mobile  Now]
    a.login(href="#") Classroom Login
    a.chat(href="#") Chat Live
    a.tel(href="tel:8553001473") 855-300-1473
block navigation
  include navigation-global-default
