//- Set Character encoding
meta(charset="UTF-8")

//- Check for meta data to include
if meta
  if meta.title
    title= meta.title
  if meta.keywords
    meta(name="keywords" content="#{meta.keywords}")
  if meta.description
    meta(name="description" content="#{meta.description}")

  //- Facebook's open-graph
  if meta.og
    each val, prop in meta.og
      meta(property="og:#{prop}", content="#{val}")
  if meta.article
    each val, prop in meta.article
      meta(property="article:#{prop}", content="#{val}")

  //- Check for SEO no-index/no-follow settings
  unless meta.noIndex
    meta(name="robots", content="follow")
  unless meta.noFollow
    meta(name="robots", content="index")

link(rel="canonical", href="#{url}")

//- Include grunt-favicon output from the build folder.
include ../../../build/ico.jade
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

//- Include any CSS that's needed...
if css
  - each style in css
    link(rel="stylesheet", href="#{style}")

//- Include any JS that's needed...
if javascript
  - each script in javascript
    script(type="text/javascript" src="#{script}")