-
  var navObj = [
    {
      label: 'Programs',
      url: '/programs/',
      children: [
        {
          label: 'Certificate Programs',
          children: [
            {
              label: 'Agile Management',
              url: '/programs/certificates/agile/'
            },
            {
              label: 'Project Management',
              url: '/programs/certificates/project-management/'
            },
            {
              label: 'Six Sigma',
              url: '/programs/certificates/six-sigma/'
            },
            {
              label: 'Business and Law of Sports',
              url: '/programs/certificates/business-and-law-of-sports/'
            },
            {
              label: 'Business Process Mgmt',
              url: '/programs/certificates/bpm-certificate/'
            },
            {
              label: 'Contract Management',
              url: '/programs/certificates/contract-management/'
            },
            {
              label: 'IS Security',
              url: '/programs/certificates/information-security/'
            },
            {
              label: 'Business Analysis',
              url: '/programs/certificates/business-analysis/'
            },
            {
              label: 'Software Testing',
              url: '/programs/certificates/software-testing/'
            },
            {
              label: 'IT Service Mgmt - ITIL <sup>&copy<sup>',
              url: '/programs/certificates/it-service-management-online/'
            },
            {
              label: 'Business Intelligence',
              url: '/programs/certificates/business-intelligence/'
            },
            {
              label: 'ROI Methodology',
              url: '/programs/certificates/roi-methodology/'
            },
            {
              label: 'Leadership',
              url: '/programs/certificates/leadership/'
            },
            {
              label: 'Human Resources',
              url: '/programs/certificates/human-resources/'
            }
          ]
        },
        {
          label: 'Graduate Programs',
          children: [
            {
              label: 'Human Resource Development',
              url: '/programs/graduate/hr-masters-degree/'
            },
            {
              label: 'Public Administration (MPA)',
              url: '/programs/graduate/mpa-degree-online/'
            }
          ]
        },
        {
          label: 'Undergraduate',
          children: [
            {
              label: 'Public Service and Administration',
              url: '/programs/undergraduate/public-service-and-administration-degree/'
            },
            {
              label: 'Leadership Studies',
              url: '/programs/undergraduate/leadership-degree/'
            },
            {
              label: 'General Studies',
              url: '/programs/undergraduate/general-studies-degree/'
            },
            {
              label: 'RN to BSN',
              url: '/programs/undergraduate/rn-to-bsn-online/'
            }
          ]
        }
      ]
    },
    {
      label: 'Getting Started',
      url: '/getting-started/',
      children: [
        {
          label: 'Certificate Programs',
          children: [
            {
              label: 'Tuition',
              url: '/getting-started/online-tuition/'
            },
            {
              label: 'Enroll Online Now',
              url: '/getting-started/certificate-apply-online-now/'
            }
          ]
        },
        {
          label: 'Graduate Degrees',
          children: [
            {
              label: 'Admissions',
              url: '/getting-started/graduate-admission-requirements/'
            },
            {
              label: 'Tuition &amp; Financial Aid',
              url: '/getting-started/graduate-school-financial-aid/'
            },
            {
              label: 'International Students',
              url: '/getting-started/international-graduate-students/'
            },
            {
              label: 'Apply Online Now',
              url: '/getting-started/graduate-apply-online-now/'
            },
            {
              label: 'Program Policies',
              url: '/getting-started/masters-degree-requirements/'
            },
            {
              label: 'Graduate Degree Calendar',
              url: '/programs/degree-academic-calendar/'
            }
          ]
        },
        {
          label: 'Undergraduate Degree',
          children: [
            {
              label: 'Admissions',
              url: '/getting-started/undergraduate-admission-requirements/'
            },
            {
              label: 'Tuition &amp; Financial Aid',
              url: '/getting-started/undergraduate-tuition-financial-aid/'
            },
            {
              label: 'International Students',
              url: '/getting-started/undergraduate-international-students/'
            },
            {
              label: 'Apply Online Now',
              url: '/getting-started/undergrad-apply-online-now/'
            },
            {
              label: 'Program Policies',
              url: '/getting-started/undergraduate-policies/'
            },
            {
              label: 'Undergraduate Degree Calendar',
              url: '/programs/degree-academic-calendar/'
            }
          ]
        }
      ]
    },
    {
      label: 'Business Solutions',
      url: '/solutions/',
      children: [
        {
          label: 'Business Solutions',
          children: [
            {
              label: 'Corporate Training',
              url: '/solutions/corporate-training/'
            },
            {
              label: 'Client List',
              url: '/solutions/corporate-education-training/'
            }
          ]
        }
      ]
    },
    {
      label: 'Military',
      url: '/military/',
      children: [
        {
          label: 'Active-Duty, Veteran &amp; Family',
          children: [
            {
              label: 'Active Duty',
              url: '/military/active-duty/'
            },
            {
              label: 'Veteran',
              url: '/military/veteran/'
            },
            {
              label: 'Family',
              url: '/military/family/'
            }
          ]
        }
      ]
    },
    {
      label: 'Government',
      url: '/solutions/government-education-programs/'
    },
    {
      label: 'About Us',
      url: '/about/',
      children: [
        {
          label: 'Villanova University',
          children: [
            {
              label: 'The University',
              url: '/about/university-online/'
            },
            {
              label: 'Accreditation',
              url: '/about/accreditation/'
            },
            {
              label: 'Success Stories',
              url: '/about/university-success-stories/'
            },
            {
              label: 'Faculty',
              url: '/programs/faculty-staff/'
            }
          ]
        },
        {
          label: 'University Alliance',
          children: [
            {
              label: 'A Worldwide Leader',
              url: '/about/worldwide-leader/'
            },
            {
              label: 'Online Learning',
              url: '/about/online-learning/'
            }
          ]
        },
        {
          label: 'Help Center',
          children: [
            {
              label: 'Support',
              url: '/about/support/'
            },
            {
              label: 'Certificate FAQs',
              url: '/programs/certificate-programs-faqs/'
            },
            {
              label: 'Graduate FAQs',
              url: '/programs/graduate-programs-faqs/'
            },
            {
              label: 'Undergraduate FAQs',
              url: '/programs/undergraduate-program-faqs/'
            }
          ]
        }
      ]
    },
    {
      label: 'Sample Lectures',
      url: '/resources/sample-lectures/',
      children: [
        {
          label: 'Certificate Programs',
          children: [
            {
              label: 'Project Management',
              url: '/resources/sample-lectures/project-management/'
            },
            {
              label: 'Six Sigma',
              url: '/resources/sample-lectures/six-sigma/'
            },
            {
              label: 'Business Process Management',
              url: '/resources/sample-lectures/business-process-management/'
            },
            {
              label: 'Contract Management',
              url: '/resources/sample-lectures/contract-management/'
            },
            {
              label: 'IS Security',
              url: '/resources/sample-lectures/is-security/'
            },
            {
              label: 'Business Analysis',
              url: '/resources/sample-lectures/business-analysis/'
            },
            {
              label: 'Software Testing',
              url: '/resources/sample-lectures/software-testing/'
            },
            {
              label: 'IT Service Management - ITIL<sup>&reg;</sup>',
              url: '/resources/sample-lectures/it-service-management-itil/'
            },
            {
              label: 'Business Intelligence',
              url: '/resources/sample-lectures/business-intelligence/'
            },
            {
              label: 'Human Resource',
              url: '/resources/sample-lectures/human-resources/'
            },
            {
              label: 'ROI Methodology',
              url: '/resources/sample-lectures/roi-methodology/'
            },
            {
              label: 'Leadership',
              url: '/resources/sample-lectures/leadership/'
            }
          ]
        },
        {
          label: 'Graduate Programs',
          children: [
            {
              label: 'Master of Public Administration',
              url: '/resources/sample-lectures/master-of-public-administration/'
            },
            {
              label: 'Master of Science in HR Development',
              url: '/resources/sample-lectures/master-of-science-in-hr-development/'
            }
          ]
        },
        {
          label: 'Undergraduate Programs',
          children: [
            {
              label: 'RN to BSN Program',
              url: '/resources/sample-lectures/rn-to-bsn-program/'
            }
          ]
        }
      ]
    }
  ]

//- Navigation Mixin
mixin nav-item(item, level)
  li(class="#{level}-nav-item")

    if (!item.url && item.children)
      //- This is a grouping of sub-nav links
      div(class="#{level}-nav-group") #[span.group-label !{item.label}]
        ul.nav-items.sub-nav-items
          each child in item.children
            +nav-item(child, 'sub')
    
    else if (item.url)
      //- This is a navigation link
      a(class="link #{level}-nav-link#{(item.children)?' has-children':''}", href=item.url) !{item.label}
      if (item.children)
        ul.nav-items.sub-nav-items
          each child in item.children
            +nav-item(child, 'sub')
//- END: Navigation Mixin

if navObj
  nav.global-nav
    input#nav-toggle(type="checkbox", checked="checked")
    //- input#nav-toggle(type="checkbox")
    label.nav-toggle(for="nav-toggle") Menu
    ul.nav-items.main-nav-items
      each child in navObj
        +nav-item(child, 'main')
    .cta-wrapper #[a.cta-button(href="#") Get More Info]
    form.main-nav-search-form(action="/search-results/", method="GET")
      input.search-field(name="q", type="text", placeholder="Search...")
      button.submit-button(type="submit")
