/**
 * Global Navigation
 */
.global-nav
  display inline-flex
  flex-flow row wrap
  // margin 1em 0 1em -0.75em
  margin 1em 0
  +on(mobile)
    // margin 0.5em 0 1em -0.75em
    margin 0.5em 0 1em
  padding 0
  +on(mobile)
    padding 0 1em 0
  width calc(100% + 0.75em)
  max-width 96.75em
  box-sizing border-box

  input#nav-toggle
    display none
    
    +on(mobile)
      &:checked ~ .main-nav-items
        display none

  label[for='nav-toggle']
    position relative
    display none

    +on(mobile)
      display flex
      background color-primary
      color color-background
      flex 1 1 40%
      margin-left 0.75em
      text-indent 101%
      overflow hidden
      
    &:after
      content '\2261'
      position absolute
      font-family courier
      font-size 4em
      line-height 1
      text-indent 0%
      position absolute
      left 0.25em
      bottom 0.05em
      
  & > .cta-wrapper
    // margin 0 0 0 0.75em
    margin 0
    flex 0 1 auto
  
  & > .main-nav-search-form
    flex 1 1 auto
    display flex
    +on(mobile)
      display none
    flex-flow row nowrap
    // margin 0 0 0 0.75em
    margin 0
    border 1px solid #ccc
    width 12em
    height 3.8em
    
    .search-field
      flex 1 1 auto
      border 0
      font-size 1.4em
      padding 0 0 0 0.5em
      width 2em
      &:focus
        outline none
    
    @svg-load search-icon url('src/images/search-icon.svg')
    .submit-button
      flex 0 0 auto
      width 3em
      border 0
      background color-background svg-inline(search-icon) no-repeat 0% 50% / 1.6em auto
  
  // Main navigation UL tag...
  .main-nav-items
    text-align left
    // outline 1px solid red
    // margin 0 0 0 0.75em
    margin 0
    +on(mobile)
      // margin 0.5em 0 0 0.75em
      margin 0.5em 0 0
    padding 0
    //   width 100%
    list-style none
    flex 4 1 auto
    +on(mobile)
      flex 1 1 100%
      order 4
    display flex
    flex-flow row nowrap
    +on(mobile)
      flex-flow column nowrap
    +on(mobile)
      transform-origin-y 0
    +on(mobile)
      background-color color-primary    
    
  .main-nav-item
    flex 1 1 auto
    cursor pointer
    // padding 1.2em 0 1.2em 1em
    padding 1.2em 0 1.2em
    +on(mobile)
      padding 0.5em 1em
    +on(mobile)
      border-bottom 1px solid alpha(color-background, 0.25)
    +on(mobile)
      &:last-of-type
        border-bottom 0
    
    // .main-nav-item
    ^[-1..-1]
      & > .main-nav-link
        text-decoration none
        font-size 1.2em
        +on(mobile)
          font-size 1.6em
        font-family 'Roboto'
        color color-primary
        +on(mobile)
          color color-background
        
        // &:hover
        //   border-bottom 0.3em solid color-accent
        
        &.has-children:after
          content ' \25BE'
          line-height 1
          color #666
          display inline
          +on(mobile)
            display none
      
      &:hover > .main-nav-link
        border-bottom 0.3em solid color-accent
        
    
    ^[1..1]
      .sub-nav-group
        margin 0.5em 0

    & > .sub-nav-items
      position absolute
      background alpha(color-background, 0.96)
      box-shadow 0 0.8em 1.4em -0.2em alpha(#000, 0.6)
      display none
      border-top 0
      border-bottom 0.3em solid color-accent
      padding 0.5em 1em
      margin-top 0.5em
      
      // .globa-nav .sub-nav-items
      ^[0] ^[-1..-1]
        list-style none
        border-top 1px solid color-border-grey
        padding-top 0.2em
      
      // .main-nav-item:hover > .sub-nav-items
      ^[1..1]:hover > ^[-1..-1]
        // ^[1..1] > ^[-1..-1]
        display flex
        +on(mobile)
          display none
        flex-flow column nowrap

  .sub-nav-item
    
    // Nested
    .sub-nav-items
      padding-left 0

    // .sub-nav-item
    ^[-1..-1]
      this that
        
      .group-label
        font-size 1.6em
        font-weight 700
        font-family 'Roboto'
        display inline-block
        margin 0 0 0.4em 0
        color color-dark-grey

      .sub-nav-link
        font-family 'Roboto'
        text-decoration none
        color color-dark-grey
        font-size 1.2em
        line-height 1.2
        margin 0.2em 0
        display inline-block
        
        &:hover
          text-decoration underline
      
      sup
        line-height 0























