.global-footer
  padding 2em 1em
  background color-light-grey
  font-family 'Roboto'
  // text-align left
  // width 100%
  // max-width 96em
  // display flex
  // flex-flow column nowrap
  
  .footer-nav
    text-align left
    width 100%
    max-width 96em
    display inline-flex
    flex-flow row wrap
    overflow hidden
    border-bottom 1px solid color-border-grey
    padding-bottom 0.5em
    
    .link
      position relative
      left calc(-1.0em - 1px)
      font-size 1.4em
      color color-dark-grey
      text-decoration none
      // padding-bottom 0.5em
      margin 0 0 0.5em 0.5em
      padding 0 0 0 0.5em
      border-left 1px solid color-border-grey
      
    .tel
      flex 0 0 auto
      +on(mobile)
        flex 1 0 100%
    
  .copy-notice
    text-align left
    width 100%
    max-width 96em
    margin 1em auto
    
    p
      font-size 1.2em
    
    sup
      line-height 0
      position relative
      top 0.4em

  .ua-logo
    // outline 1px solid purple
    background svg-inline(ua-logo) no-repeat 100% 50% / auto 100%
    +on(mobile)
      background-position 50% 50%
    height 7em
    width 100%
    max-width 96em
    margin 0 auto 0