.global-header
  text-align left
  margin 0
  padding 3em 0 0
  width 100%
  max-width 96em
  display inline-flex
  flex-wrap wrap
  box-sizing border-box

  +on(mobile)
    margin 0
    padding 1em 1em 0
    
  .logo
    // outline 1px solid green
    flex 1 1
          
  .utility-nav
    // outline 1px solid red
    flex 0 0

  .global-nav
    text-align left
    outline 1px solid purple
