.new-and-popular-courses
  width 100%
  max-width 80em
  margin 0 auto 4em
  display flex
  flex-flow row wrap
  +on(mobile)
    flex-flow column nowrap
  
  .tabbed-nav
    border-top 1px solid color-inactive-grey
    +on(mobile)
      border-bottom @border-top
    display flex
    flex 1 1 auto
    justify-content center
    order 1
    +on(mobile)
      order 0
    +on(mobile)
      margin-bottom 2em
    
    .nav-item
      flex 0 0
      background-repeat no-repeat
      background-position 50% 80%
      +on(mobile)
        background-position 50% 50%
      background-size auto 7em
      +on(mobile)
        background-size auto 5.6em
      padding 4em 6em
      +on(mobile)
        padding 5em 6em
      border-right 1px solid color-inactive-grey
      
      &:hover
        cursor pointer
      
      &:last-of-type
        border-right 0
      
      &[for$='-agile']
        background-image svg-inline(icon-agile-inactive)
        
      &[for$='-six-sigma']
        background-image svg-inline(icon-six-sigma-inactive)
        
      &[for$='-project-management']
        background-image svg-inline(icon-project-management-inactive)
        
      // .new-and-popular-courses
      ^[0..0] > input
      
        &[id$='-agile']:checked
          & ~ .tabbed-contents label[for$='-agile']
            background-image svg-inline(icon-agile)
          & ~ .tabbed-contents .tab.agile
            display block
          & ~ .screen-display
            background-image url('/images/hero-agile-tab.jpg'), none
            +on(mobile)
              background-image url('/images/hero-agile-tab-mobile.jpg'), linear-gradient(bottom, alpha(color-inactive-grey, 0.4), alpha(color-inactive-grey, 0))

        &[id$='-six-sigma']:checked
          & ~ .tabbed-contents label[for$='-six-sigma']
            background-image svg-inline(icon-six-sigma)
          & ~ .tabbed-contents .tab.six-sigma
            display block
          & ~ .screen-display
            background-image url('/images/hero-six-sigma-tab.jpg'), none
            +on(mobile)
              background-image url('/images/hero-six-sigma-tab-mobile.jpg'), linear-gradient(bottom, alpha(color-inactive-grey, 0.4), alpha(color-inactive-grey, 0))

        &[id$='-project-management']:checked
          & ~ .tabbed-contents label[for$='-project-management']
            background-image svg-inline(icon-project-management)
          & ~ .tabbed-contents .tab.project-management
            display block
          & ~ .screen-display
            background-image url('/images/hero-project-management-tab.jpg'), none
            +on(mobile)
              background-image url('/images/hero-project-management-tab-mobile.jpg'), linear-gradient(bottom, alpha(color-inactive-grey, 0.4), alpha(color-inactive-grey, 0))
  
  & > .screen-display
    flex 1 1 auto
    +on(mobile)
      flex 0 0
    +on(mobile)
      // min-height 50vw
      height 20em
    background-image none, none
    background-repeat no-repeat, repeat
    background-position 0% 0%, 0 0
    +on(mobile)
      background-position 50% 100%, 0 0
    background-size 34em auto, auto
    +on(mobile)
      background-size 32em auto, auto
    width 50%
    +on(mobile)
      width auto

  & > .heading
    flex 0 0 100%
    +on(mobile)
      flex 1 1
    margin-bottom 3em
    +on(mobile)
      margin-bottom 1em
    padding-bottom 1em
    +on(mobile)
      padding-bottom 0
    border-bottom 1px solid color-inactive-grey
    +on(mobile)
      border-bottom 0
    +on(mobile)
      text-align center
    
    &::after
      content 'From Villanova'
      display block
      font-size 2.8em
      +on(mobile)
        font-size 2em
      font-family 'Roboto'
      font-weight 300
    
    h2
      font-size 2.8em
      +on(mobile)
        font-size 2em
      font-family 'Roboto'
      font-weight 400

  .tabbed-contents
    display flex
    flex-flow row wrap
    flex 1 1 auto
    +on(mobile)
      flex 0 0
    font-family 'Roboto'
    width 50%
    +on(mobile)
      width auto
    
    align-items flex-start
    align-content flex-start
    
    .tab
      display none
      +on(mobile)
        text-align center
      padding 0 1.4em
      +on(mobile)
        padding 1em 3em 0
      
      h3
        text-transform uppercase
        letter-spacing 0.06em
        font-size 2.2em
        +on(mobile)
          font-size 1.8em
        font-weight 300
        +on(mobile)
          font-weight 400
        margin-bottom 0.5em
      p
        font-size 1.4em
        line-height 1.4
        margin-bottom 1em
      
      .cta-label
        @extend .cta-label
        margin-bottom 1em
        display inline-block