@svg-load icon-corporate url('src/images/icon_audience_corporate.svg')
  .st0
    fill color-primary
@svg-load icon-corporate-active url('src/images/icon_audience_corporate.svg')
  .st0
    fill color-primary-active
@svg-load icon-military url('src/images/icon_audience_military.svg')
  .st0
  .st1
    fill color-primary
@svg-load icon-military-active url('src/images/icon_audience_military.svg')
  .st0
  .st1
    fill color-primary-active
@svg-load icon-government url('src/images/icon_audience_government.svg')
  .st0
  .st1
    fill color-primary
@svg-load icon-government-active url('src/images/icon_audience_government.svg')
  .st0
  .st1
    fill color-primary-active


.special-audiences-wrapper
  display flex
  flex-flow row wrap
  +on(mobile)
    flex-flow column nowrap
  // outline 1px solid purple
  margin 0 auto 4em
  +on(mobile)
    margin 0 auto
  width 100%
  max-width 80em
  +on(mobile)
    width 100%
  
  h2.heading
    position relative
    width 100%
    display flex
    flex-flow row wrap
    +on(mobile)
      flex-flow column nowrap
    justify-content center
    +on(mobile)
      align-items center
    font-family 'Roboto'
    font-size 2.2em
    +on(mobile)
      font-size 1.6em
    margin 0 0 2em 0
    +on(mobile)
      margin 0
    border 0
    +on(mobile)
      border-bottom 1px solid color-border-grey
    padding 0
    +on(mobile)
      padding 0 0 2em 0
    
    &::after
      +on(mobile)
        content ''
        display block
        position absolute
        background color-background
        width 1em
        height (@width * 0.86062)
        margin auto
        left 0
        right 0
        bottom (@width / -2)
        border-bottom 1px solid color-border-grey
        border-right 1px solid color-border-grey
        transform rotateZ(30deg) skewX(-30deg)
    & > span
      margin 0 0.25em
      &:last-of-type
        font-weight 200
  
  .special-audiences
    cursor pointer
    flex 0 0 calc(100% / 3)
    +on(mobile)
      flex 0 0 auto
    display flex
    flex-flow column nowrap
    +on(mobile)
      flex-flow row nowrap
    padding 4em 0 0 0
    +on(mobile)
      padding 0
    text-align center
    border-right 1px solid color-border-grey
    +on(mobile)
      border-right 0
      border-bottom 1px solid color-border-grey
    box-sizing border-box
    
    &:last-of-type
      border-right 0
    
    .icon
      padding 0
      +on(mobile)
        padding 0 0 0 2.6em
      background-position 50% 50%
      +on(mobile)
        background-position 100% 50%
      ^[-2..-2].corporate > ^[-1..-1]
        background-image svg-inline(icon-corporate)
        background-repeat no-repeat
        background-size auto 80%
        +on(mobile)
          background-size auto 50%
    
      ^[-2..-2].corporate:hover > ^[-1..-1]
        background-image svg-inline(icon-corporate-active)
    
      ^[-2..-2].military > ^[-1..-1]
        background-image svg-inline(icon-military)
        background-repeat no-repeat
        background-size auto 60%
        +on(mobile)
          background-size auto 38%
    
      ^[-2..-2].military:hover > ^[-1..-1]
        background-image svg-inline(icon-military-active)
    
      ^[-2..-2].government > ^[-1..-1]
        background-image svg-inline(icon-government)
        background-repeat no-repeat
        background-size auto 80%
        +on(mobile)
          background-size auto 50%
          background-position 100% 38%
    
      ^[-2..-2].government:hover > ^[-1..-1]
        background-image svg-inline(icon-government-active)
    
      height 9em
      +on(mobile)
        height auto
      margin-bottom 3em
      +on(mobile)
        margin-bottom 0

      flex 0 0 auto
      +on(mobile)
        flex 1 1 auto

    .label
      font-family 'Roboto'
      text-transform uppercase
      color color-primary
      font-size 1.6em
      +on(mobile)
        font-size 1.8em
      font-weight 600
      +on(mobile)
        font-weight 300
      margin-bottom 0.2em
      +on(mobile)
        margin-bottom 0
      padding 0
      +on(mobile)
        padding 1.8em 0 1.8em 1.2em
      flex 0 0 auto
      +on(mobile)
        flex 1 1 auto
      text-align center
      +on(mobile)
        text-align left
      
    .cta-label
      @extend .cta-label
      font-size 1.4em

    +on(mobile)
      .cta-label
      .non-mobile
        display none