doctype html
html(lang="en")
  block html-head
    include /partials/html-head
  body
    block global-header
      include /partials/header-global-default

    block content
    block global-footer
      include /partials/footer-global-default
    block html-footer
      include /partials/html-footer